
/* color: rgb(255,195,60); */
/* rgb(50,50,50); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: 'Noto Serif JP', serif;
}

/* header */

body{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(245,245,245); */
}
.header{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/about-1.jpg);
    background-position: center 500px;
    background-size:cover;
    padding: 5%;
}
.header .logo{
    flex: 1;
}
.header .logo img{
    width: 180px;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .logo h4{
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgb(50,50,50);
    margin-top: 5%;
}
.header button{
    font-size: 14px;
    font-variant-caps: small-caps;
    font-weight: 500;
    color: rgba(225,225,225,0.9);
    background-color: rgba(50,50,50,0.9);
    border-radius: 25px;
    border: 1px solid rgba(50,50,50,0.9);
    margin-top: 20px;
    padding: 5px 20px;
}
.header button:hover{
    transform: scale(1.2);
}
.header nav{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: end;
}
.header nav a{
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(50,50,50);
    text-decoration: none;
    color: rgba(255,195,60,0.95);
    font-weight: 500;
    padding: 0 8px;
}
.header nav a:hover{
    transform: translateY(-15%) scale(1.2);
}

/* tittle */

.tittle{
    width: 100%;
    margin: 8% 0;
    text-align: center;
}
.tittle p{
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 10px;
    font-variant-caps: small-caps;
    color: rgb(255,195,60);
}

/* slitder */

.slider {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.nodes {
    display: flex;
    position: absolute;
    bottom: 5%;
}
.slider .node {
    width: 12px;
    height: 12px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}
.node:hover {
    transform: scale(1.5);
}
/* container */

.container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
}
.item{
    width: 30%;
    padding: 20px 0;
    margin: 3% 0;
    transition:
    all 0.5s,
    color 0s;
}
.item img{
    width: 50%;
}
.item h4{
    font-size: 16px;
    font-weight:400;
    font-family: 'Noto Serif JP', serif;
}
.container .item:hover{
    transform: scale(1.2);
    color: rgb(255,195,60);
}

/* banner */

.banner{
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.post1{
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/banner-3.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
}
.banner .post1 .img{
    width: 20%;
    position: absolute;
    top: 30%;
    left: 10%;
}
.post1 .img::after{
    width: 280px;
    content: "讓我們為你帶來最不一樣的2022";
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: rgba(253, 252, 250,0.8);
    display: block;
}
.post2{
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/banner-4.jpg);
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}
.post2::after{
    width: 280px;
    content: "唯心所購 隨心所動";
    letter-spacing: 3px;
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: rgba(253, 252, 250,0.8);
    display: block;
    position: absolute;
    top: 40%;
    left: 20%;
}
.banner img{
    width: 100%;
    height: 100%;
}

/* ending */

.ending{
    width: 100%;
    margin: 8% 0;
    text-align: center;
}
.ending p{
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 10px;
    font-variant-caps: small-caps;
    color: rgb(255,195,60);
}

/* footer */

.footer{
    width: 100%;
    height: 40%;
    display: flex;
    background-color: rgba(50,50,50);
    font-family: 'Noto Serif JP', serif;
    align-items: center;
    padding: 0 4% 0 7%
}
.item-a{
    flex: 2;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-a img{
    width: 130px;
    padding-top: 1vh;
}
.item-a h4{
    font-size: 16px;
    letter-spacing: 0;
    color:  rgba(225,225,225,0.9);
}
.item-a p{
    font-size: 12px;
    color: rgba(225,225,225,0.9);
    margin-top: 6.5%;
}
.item-a img:hover{
    transform: 
    translateY(-10%) 
    translateX(5%)
    scale(1.1);
}
.item-b,
.item-c,
.item-d{
    flex: 1.2;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .item div{
    margin: 0;
    height: 20px;
    display: flex;
    align-items: center;
}
.footer .item h2{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0 0 0;
    color: rgba(225,225,225,0.9);
    padding-left: 8%;
}
.footer .item i{
    color: rgba(255, 186, 48, 0.6);
    margin-right: 3%;
}
.footer .item a{
    font-weight: 300;
    color: rgba(225,225,225,0.9);
    font-size: 13px;
    text-decoration: none;
    line-height: 1.1;
}
.footer .item-d #email{
    font-size: 13px;
}
.footer .item-d .adress{
    margin-top: 5%;
    line-height: 1.3;
}
.item div:hover{
    transform: 
    translateY(-10%) 
    translateX(5%)
    scale(1.1);
}
.item div:hover a{
    color: rgb(255,190,60);
}
.footer .item-m{
    display: none;
}

/* mobile */

.nav-m{
    display: none;
}
.mbtn{
    display: none;
}


/* rwd*/

@media screen and (max-width:500px){

    body{
        width: 100vw;
        height: 100vh;
        background-color: rgb(240,240,240);
    }
    .header{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 40%;
    }
    .header img{
        width: 120px;
    }
    .header h4{
        font-weight: 400;
        margin-top: 20%;
    }
    .header nav{
        display: none;
    }
    .header button{
        display: none;
    }
    .tittle{
        width: 95%;
        padding: 10% 2%;
        margin: 8% auto;
        background-color: white;
    }
    .tittle p{
        font-size: 20px;
        letter-spacing: 4px;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
    }
    .slider{
        margin: 0;
        width: 100%;
        height: 40%;
        position: relative;
    }
    .slider .node {
        width: 8px;
        height: 8px;
        margin: 10px 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25% auto 12%;
        padding-bottom: 0;
    }
    .container .item{
        width: 95%;
        padding: 20px 0;
        margin: 7% 0;
        background-color: aliceblue;
    }
    .container .item h4{
        font-weight: 300;
    }
    .banner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .post1{
        width: 100%;
        height: 40%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/banner-3.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .banner .post1 .img{
        width: 35%;
        position: absolute;
        top: 30%;
        left: 5%;
    }
    .post1 .img::after{
        width: 150px;
        content: "讓我們為你帶來最不一樣的2022";
        letter-spacing: 0;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
    }
    .post2{
        width: 100%;
        height: 40%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/banner-4.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .post2::after{
        width: 150px;
        content: "唯心所購 隨心所動";
        letter-spacing: 0;
        font-size: 30px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        top: 50%;
        left: 33%;
    }
    .ending{
        width: 95%;
        padding: 5% 2%;
        margin: 0 auto 10%;
        text-align: center;
    }
    .ending p{
        font-size: 20px;
        letter-spacing: 4px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: rgb(22, 21, 21);
    }
    .footer{
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .item-m{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer .item-m img{
        width: 80px;
    }
    .item-m h4{
        font-size: 12px;
        color: rgba(225,225,225,0.9);
    }
    .footer .item-m a{
        font-weight: 300;
        color: rgba(225,225,225,0.9);
        font-size: 10px;
        text-decoration: none;
        margin: 2px 0;
    }
    .item-m p{
        font-size: 10px;
        color: rgba(225,225,225,0.9);
    }
    .footer .item-a,
    .footer .item-b,
    .footer .item-c,
    .footer .item-d{
        display: none;
    }

/* mobile nav*/

    .mbtn{
        display: block;
        position: absolute;
        top: 2%;
        right: 3%;
    }
    .mbtn i{
        font-size: 30px;
        font-weight: 600;
        color: rgba(225,225,225,0.9);
        text-shadow: 1px 1px 5px rgb(50,50,50);
    }
    .nav-m{
        width: 90%;
        height: 90%;
        border-radius: 0 20px 20px 0;
        background-color:
        rgb(50,50,50,0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10% 5% 10% 7%;
        position: fixed;
        top: 5%;
        left: -100%;
        transition: all 1.2s;
        z-index: 5;
    }
    .nav-m p{
        color: rgba(225,225,225,0.9);
        font-size: 14px;
        font-variant: small-caps;
        font-family: 'Noto Serif TC', serif;
    }
    .nav-m img{
        width: 120px;
        padding: 0 0 0 0;
    }
    .nav-m div{
        display: flex;
        align-items: center;
    }
    .nav-m .dot{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: bisque;
        margin-left: 2%;
    }
    .nav-m .search{
        position: relative;
    }
    .nav-m .search input{
        width: 75%;
        margin: 5% 0 5% 0;
        border-radius: 
        0 50px 50px 0;
        border-radius: 50px;
        padding: 1% 0 1% 5%;
        background: rgba(255,255,255,0.95)
    }
    .nav-m .search i{
        position: absolute;
        right: 30%;
        color: rgb(50,50,50);
        padding: 0;
    }
    .nav-m div i{
        color: rgba(225,225,225,0.9);
        cursor: pointer;
        padding-left: 25% ;
    }
    .nav-m i:hover{
        transform: translateY(-10%)
        translateX(-8%)
        scale(1.2);
        color: rgb(255,190,60);
    }
    .nav-m a{
        width: 60%;       
        text-decoration: none;
        color: rgba(225,225,225,0.9);
        padding: 5% 0 5% 10%;
        font-size: 18px;
        letter-spacing: 2px;
        font-family: 'Noto Serif JP', serif;
        font-weight: 400;
    }
    .nav-m a:hover{
        transform: translateY(-10%)
        translateX(8%)
        scale(1.2);
        color: rgb(255,190,60);
    }
    .nav-m.x{
        left:0
    }
}

@media screen and (max-width:812px) and (min-width:500px){

    .header{
        height: 60%;
    }
    .header .logo h4{
        margin-top: 2%;
    }
    .header nav{
        display: none;
    }
    .tittle{
        width: 95%;
        padding: 5% 2%;
        margin: 0 auto;
    }
    .tittle p{
        font-size: 20px;
        letter-spacing: 4px;
        font-family: 'Noto Serif TC', serif;
        text-align: center;
    }
    .slider{
        width: 100%;
        height: 80%;
        margin: 0;
    }

    /* banner */

    .banner{
        width: 100%;
        height: 200%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .post1{
        width: 100%;
        height: 100%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/banner-3.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .banner .post1 .img{
        width: 20%;
        position: absolute;
        top: 30%;
        left: 10%;
    }
    .post1 .img::after{
        width: 200px;
        content: "讓我們為你帶來最不一樣的2022";
        letter-spacing: 0;
        font-size: 30px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
    }
    .post2{
        width: 100%;
        height: 100%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/banner-4.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
    }
    .post2::after{
        width: 200px;
        content: "唯心所購 隨心所動";
        letter-spacing: 0;
        font-size: 40px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        top: 50%;
        left: 40%;
    }
    .banner img{
        width: 100%;
        height: 100%;
    }
    .ending{
        width: 95%;
        padding: 5% 2%;
        margin: 0 auto;
        text-align: center;
    }
    .ending p{
        font-size: 20px;
        letter-spacing: 4px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: rgb(22, 21, 21);
    }

    /* footer */

    .footer{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .item-m{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer .item-m img{
        width: 80px;
    }
    .item-m h4{
        font-size: 12px;
        color: rgba(225,225,225,0.9);
    }
    .footer .item-m a{
        font-weight: 300;
        color: rgba(225,225,225,0.9);
        font-size: 10px;
        text-decoration: none;
        margin: 2px 0;
    }
    .item-m p{
        font-size: 10px;
        color: rgba(225,225,225,0.9);
    }
    .footer .item-a,
    .footer .item-b,
    .footer .item-c,
    .footer .item-d{
        display: none;
    }


    /* mobile nav*/

    .mbtn{
        display: block;
        position: absolute;
        top: 10%;
        right: 5%;
    }
    .mbtn i{
        font-size: 30px;
        font-weight: 600;
        color: rgba(225,225,225,0.9);
        text-shadow: 1px 1px 5px rgb(50,50,50);
    }
    .nav-m{
        width: 100%;
        height: 25%;
        border-radius: 20px 20px 0 0;
        background-color:
        rgb(50,50,50,0.95);
        display: flex;
        justify-content: space-around;
        padding: 2%;
        position: fixed;
        bottom: -100%;
        transition: all 1s;
        z-index: 5;
    }
    .nav-m p{
        display: none;
    }
    .nav-m img{
        display: none;
    }
    .nav-m div{
        display: flex;
        align-items: center;
    }
    .nav-m .dot{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: bisque;
    }
    .nav-m .search{
        display: none;
    }
    /* .nav-m .search input{
        width: 75%;
        margin: 5% 0 5% 0;
        border-radius: 
        0 50px 50px 0;
        border-radius: 50px;
        padding: 1% 0 1% 5%;
        background: rgba(255,255,255,0.95)
    } */
    /* .nav-m .search i{
        position: absolute;
        right: 30%;
        color: rgb(50,50,50);
        padding: 0;
    } */
    .nav-m div i{
        display: none;
    }
    .nav-m a{
        width: 100%;       
        text-decoration: none;
        color: rgba(225,225,225,0.9);
        padding: 0 10px;
        font-size: 16px;
        letter-spacing: 2px;
        font-family: 'Noto Serif JP', serif;
        font-weight: 400;
    }
    .nav-m a:hover{
        transform: translateY(-10%)
        translateX(8%)
        scale(1.2);
        color: rgb(255,190,60);
    }
    .nav-m.x{
        bottom:0
    } 
}







/* about */

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* tittle */

.about .tittle{
    width: 90%;
    margin: 5% 0;
}
.about .tittle h2{
    font-weight: 200;
    margin-bottom: 2%;
}
.about .tittle h4{
    font-weight: 400;
    margin-bottom: 2%;
    font-size: 30px;
    letter-spacing: 6px;
    font-variant-caps: small-caps;
    color: rgb(255,195,60);
}
.about .tittle p{
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
    letter-spacing: normal;
    color: rgb(50,50,50);
}

/* content */

.content{
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(240,240,240);
}
.pic1{
    width: 100%;
    height: 80%;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/about-3.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.pic1::after{
    width: 220px;
    content: "最強的服務與品質";
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: rgba(253, 252, 250,0.8);
    display: block;
    position: absolute;
    bottom: 18%;
    right: 28%;
}
.pic2{
    width: 100%;
    height: 80%;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/about-1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.pic2::after{
    width: 250px;
    content: "最多元的接單代購";
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: rgba(253, 252, 250,0.8);
    display: block;
    position: absolute;
    bottom: 19%;
    left: 12%;
}
.pic3{
    width: 100%;
    height: 80%;
    background-image: 
    url(img/about-poster3.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.pic3 img{
    width: 200px;
    position: absolute;
    bottom: 8%;
    right: 15%;
    display: none;
}
.content .txt{
    width: 90%;
    margin: 5% auto;
    background-color: rgb(255, 255, 255);
    letter-spacing: 2px;
    padding: 3%;
}
.ending{
    width: 90%;
    margin: 5% auto;
    text-align: center;
}
.ending p{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 6px;
    font-variant-caps: small-caps;
    color: rgb(29, 29, 28);
}

@media screen and (max-width:500px){
    
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    /* tittle */
    
    .about .tittle{
        width: 95%;
        margin: 5% 0;
        padding: 10% 2%;
    }
    .about .tittle h2{
        font-weight: 200;
        margin-bottom: 2%;
    }
    .about .tittle h4{
        font-weight: 400;
        margin-bottom: 2%;
        font-size: 20px;
        letter-spacing: 4px;
        font-variant-caps: small-caps;
        color: rgb(255,195,60);
    }
    .about .tittle p{
        font-family: 'Noto Serif JP', serif;
        font-size: 18px;
        letter-spacing: normal;
        color: rgb(50,50,50);
    }
    
    /* content */
    
    .content{
        width: 100%;
        height: 180%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(240,240,240);
    }
    .pic1{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-3.png);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic1::after{
        width: 120px;
        content: "最強的品質與服務";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 25%;
        right: 15%;
    }
    .pic2{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-1.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic2::after{
        width: 100px;
        content: "最多元的接單代購";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 30%;
        left: 10%;
    }
    .pic3{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-2.png);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic3 img{
        width: 20%;
        position: absolute;
        bottom: 8%;
        right: 10%;
        display: block;
    }
    .pic3::after{
        width: 80px;
        content: "最周全的選擇";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 23%;
        right: 9%;
    }
    .content .txt{
        width: 90%;
        margin: 5% auto;
        background-color: rgb(255, 255, 255);
        letter-spacing: 2px;
        padding: 3%;
    }
    .ending{
        width: 95%;
        margin: 5% auto;
        padding: 10% 2%;
        text-align: center;
    }
    .ending p{
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 4px;
        font-variant-caps: small-caps;
        color: rgb(29, 29, 28);
    }
}

@media screen and (max-width:812px) and (min-width:500px){

    .about .tittle{
        width: 95%;
        margin: 5% 0;
        padding: 5% 2%;
    }
    .about .tittle h2{
        font-weight: 200;
        margin-bottom: 2%;
    }
    .about .tittle h4{
        font-weight: 400;
        margin-bottom: 2%;
        font-size: 20px;
        letter-spacing: 4px;
        font-variant-caps: small-caps;
        color: rgb(255,195,60);
    }
    .about .tittle p{
        font-family: 'Noto Serif JP', serif;
        font-size: 18px;
        letter-spacing: normal;
        color: rgb(50,50,50);
    }
    .content{
        width: 100%;
        height: 350%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(240,240,240);
    }
    .pic1{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-3.png);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic1::after{
        width: 120px;
        content: "最強的品質與服務";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 20%;
        right: 25%;
    }
    .pic2{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-1.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic2::after{
        width: 100px;
        content: "最多元的接單代購";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 20%;
        left: 10%;
    }
    .pic3{
        width: 100%;
        height: 80%;
        background-image: 
        linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
        url(img/about-2.png);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .pic3 img{
        width: 12%;
        position: absolute;
        bottom: 8%;
        right: 15%;
        display: block;
    }
    .pic3::after{
        width: 80px;
        content: "最周全的選擇";
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'Rubik', sans-serif;
        font-weight: 800;
        color: rgba(253, 252, 250,0.8);
        display: block;
        position: absolute;
        bottom: 23%;
        right: 15%;
    }
    .content .txt{
        width: 90%;
        margin: 5% auto;
        background-color: rgb(255, 255, 255);
        letter-spacing: 2px;
        padding: 3%;
    }
    .ending{
        width: 95%;
        margin: 5% auto;
        padding: 5% 2%;
        text-align: center;
    }
    .ending p{
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 4px;
        font-variant-caps: small-caps;
        color: rgb(29, 29, 28);
    }
}