
/* color: rgb(255,195,60); */
/* rgb(50,50,50); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: 'Noto Serif JP', serif;
}

/* header */

.header{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    background-image: 
    linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)),
    url(img/juan-ordonez-j2c3xRURQQI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.header .logo{
    flex: 1;
}
.header .logo img{
    width: 150px;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .logo h4{
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-top:10%;
}
.header button{
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(225,225,225,0.9);
    background-color: rgba(50,50,50,0.9);
    border-radius: 25px;
    border: 1px solid rgba(255,190,60,0.6);
    margin-top: 20px;
    padding-bottom: 2px;
}
.header button:hover{
    transform: scale(1.2);
}
.header nav{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: end;
}
.header nav a{
    font-size: 16px;
    text-decoration: none;
    color: rgba(255,195,60,0.95);
    font-weight: 500;
    padding: 0 8px;
}
.header nav a:hover{
    transform: translateY(-15%) scale(1.2);
}

/* container */

.tittle{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.tittle p{
    font-size: 30px;
    letter-spacing: 5px;
    color: rgb(255,195,60); 
    font-family: initial;
    font-variant: small-caps;
}
.container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
}
.item{
    width: 30%;
    margin: 20px 10px;
    transition:
    all 0.5s,
    color 0s;
}
.item img{
    width: 50%;
}
.item h4{
    font-size: 16px;
    font-weight:400;
    font-family: 'Noto Serif JP', serif;
}
.container .item:hover{
    transform: scale(1.2);
    color: rgb(255,195,60);
}

/* footer */

.footer{
    width: 100%;
    height: 25vh;
    display: flex;
    background-color: rgba(50,50,50);
    font-family: 'Noto Serif JP', serif;
    align-items: center;
    padding: 5% 5% 5% 7%
}
.item-a{
    flex: 2;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.item-a img{
    width: 80px;
    padding-top: 2vh;
    margin-bottom: 1vh;
}
.item-a h4{
    font-size: 13px;
    letter-spacing: 0;
    color:  rgba(225,225,225,0.9);
}
.item-a p{
    font-size: 10px;
    color: rgba(225,225,225,0.9);
    margin-top: 6.5%;
}
.item-a img:hover{
    transform: 
    translateY(-10%) 
    translateX(5%)
    scale(1.1);
}
.item-b,
.item-c,
.item-d{
    flex: 1.2;
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.footer .item div{
    margin: 1% 0;
    height: 20px;
    display: flex;
    align-items: center;
}
.footer .item h2{
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 5px 0;
    color: rgba(225,225,225,0.9);
}
.footer .item i{
    color: rgba(255,190,60,0.6);
    margin-right: 3%;
}
.footer .item a{
    font-weight: 300;
    color: rgba(225,225,225,0.9);
    font-size: 13px;
    text-decoration: none;
    line-height: 1.1;
}
.footer .item-d .adress{
    margin-top: 6%;
    line-height: 1.3;
}
.item div:hover{
    transform: 
    translateY(-10%) 
    translateX(5%)
    scale(1.1);
}
.item a:hover{
    color: rgb(255,195,60);
}
.footer .item-m{
    display: none;
}

/* mobile */

.nav-m{
    display: none;
}
.mbtn{
    display: none;
}

/* rwd*/

@media screen and (max-width:768px){

    .header{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 30vh;
    }
    .header img{
        width: 120px;
    }
    .header h4{
        font-weight: 400;
        margin-top: 20%;
    }
    .header nav{
        display: none;
    }
    .header button{
        display: none;
    }
    .tittle{
        width: 80%;
        margin: 15% auto 5%;
    }
    .tittle p{
        font-size: 22px;
        letter-spacing: 5px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .container .item{
        width: 70%;
    }
    .footer{
        width: 100%;
        height: 20vh;
        margin: 0;
        padding: 5% 0;
        display: flex;
        justify-content: center;
    }
    .footer .item-m{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item-m h4{
        font-size: 12px;
        color: rgba(225,225,225,0.9);
    }
    .footer .item-m a{
        font-size: 12px;
    }
    .item-m p{
        font-size: 10px;
        color: rgba(225,225,225,0.9);
        margin-top: 1vh;
    }
    .footer .item-m img{
        width: 80px;
    }
    .footer .item-a,
    .footer .item-b,
    .footer .item-c,
    .footer .item-d{
        display: none;
    }

    /* mobile nav*/

    .mbtn{
        display: block;
        position: absolute;
        top: 2%;
        right: 3%;
    }
    .mbtn i{
        font-size: 30px;
        font-weight: 600;
        color: bisque;
    }
    .nav-m{
        width: 60%;
        height: 80vh;
        border-radius: 0 20px 20px 0;
        background-color:
        rgb(50,50,50,0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 5%;
        position: fixed;
        top: 10%;
        left: -100%;
        padding-bottom: 10%;
        transition: all 1s;
    }
    .nav-m img{
        width: 100px;
        padding: 0 0 5% 0;
    }
    .nav-m div{
        display: flex;
        align-items: center;
    }
    .nav-m .dot{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: bisque;
        margin-left: 2%;
    }
    .nav-m .serch{
        position: relative;
    }
    .nav-m input{
        width: 75%;
        height: 25px;
        margin: 5% 0 10% 0;
        border-radius: 
        0 50px 50px 0;
        border-radius: 50px;
        padding-left: 5%;
        background-color: rgb
        (225,225,225);
    }
    .nav-m input+i{
        font-size: 10px;
        position: absolute;
        right: 30%;
        top: 30%;
        color: rgb(50,50,50);
    }
    .nav-m i{
        color: rgba(225,225,225,0.9);
        cursor: pointer;
        padding-left: 25% ;
    }
    .nav-m i:hover{
        transform: translateY(-10%)
        translateX(-8%)
        scale(1.2);
        color: rgb(255,190,60);
    }
    .nav-m a{
        width: 60%;       
        text-decoration: none;
        color: rgba(225,225,225,0.9);
        padding: 5% 0 5% 10%;
        font-size: 18px;
        letter-spacing: 2px;
        font-family: 'Noto Serif JP', serif;
        font-weight: 400;
    }
    .nav-m a:hover{
        transform: translateY(-10%)
        translateX(8%)
        scale(1.2);
        color: rgb(255,190,60);
    }
    .nav-m.x{
        left:0
    }
    
}